<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - Ministerio Gosén</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js" asp-append-version="true"></script>
</head>

<body>

    @RenderBody()


    <!-- Floating Buttons -->
    <a asp-action="Principal" asp-controller="Home"
       class="btn btn-secondary rounded-circle d-flex align-items-center justify-content-center shadow"
       style="position: fixed; right: 95px; bottom: 30px; width: 50px; height: 50px; z-index: 9999;"
       title="Chatbot">
        <i class="bi bi-chat-dots fs-4"></i>
    </a>

    <a href="#"
       class="btn btn-primary rounded-circle d-flex align-items-center justify-content-center shadow back-to-top"
       style="position: fixed; right: 30px; bottom: 30px; width: 50px; height: 50px; z-index: 9999;"
       title="Subir">
        <i class="bi bi-arrow-up fs-4"></i>
    </a>

    <!-- JavaScript Libraries -->
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/easing.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/counterup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>